<h2>Search Result</h2>

<% unless @users.empty? %>
  <% @users.each do |user| %>
    <%= link_to user.name, user_path(user) %>
  <% end %>
<% else %>
  <p>no matching user</p>
<% end %>

<p>
  <%= link_to 'user list', users_path %>
</p>